:root {
  --main: #c32227;
  --secondary: #1e1e1e;
  --tertiary: #4e4e4e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: var(--main);
}

.contact-header {
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary);
  padding: 10px 60px;
}

.contact-header > .link {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.contact-header > .link:not(:last-child) {
  margin-right: 15px;
}

.contact-header > .link:hover {
  color: var(--main);
}

.link > .icon {
  margin-right: 4px;
}

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  height: 60px;
  padding: 0 120px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.logo-img {
  width: auto;
  height: 2.5rem;
}

.mobile-nav-toggle {
  display: none;
}

nav {
  display: flex;
}

.menu {
  display: flex;
  align-items: center;
}

.menu-item {
  display: flex;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  list-style: none;
  margin-left: 1rem;
  padding: 10px 5px;
  cursor: pointer;
  border-radius: 5px;
}

.menu-item:hover {
  background-color: white;
  color: var(--main);
  transition: all ease-in 0.1s;
}

.hero {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image: url("../img/casa-moderna.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  height: calc(100vh - 98px);
  padding: 0 120px;
}

.hero-cta {
  background-color: hsl(0, 0%, 100%, 0.8);
  color: var(--secondary);
  height: fit-content;
  max-width: 850px;
  padding: 30px;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

h1 > span {
  color: var(--main);
}

h2 {
  font-size: 2;
}

.hero-cta-buttons {
  display: flex;
  justify-content: space-around;
}

.hero-cta-quote-btn {
  font-size: 1rem;
  font-weight: bold;
  padding: 20px 0;
  width: 45%;
  border: none;
  background-color: var(--main);
  color: white;
  cursor: pointer;
  margin-right: 1rem;
  transition: box-shadow 0.5s ease-out;
  margin-top: 1rem;
}

.hero-cta-quote-btn:hover {
  box-shadow: 0.5rem 0.4rem var(--secondary);
}

.hero-cta-know-btn {
  font-size: 1rem;
  font-weight: bold;
  width: 45%;
  padding: 20px 0;
  border: none;
  background-color: var(--secondary);
  color: white;
  cursor: pointer;
  transition: box-shadow 0.5s ease-out;
  margin-top: 1rem;
}

.hero-cta-know-btn:hover {
  box-shadow: 0.5rem 0.4rem var(--main);
}

.about {
  padding: 50px 120px;
}

.about-header {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.about-header-logo {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
}

.about-header-logo div {
  display: flex;
  justify-content: center;
  width: 100%;
}

.about-header-logo div > img {
  max-width: 250px;
  width: 100%;
  height: auto;
}

.about-header-logo > h2 {
  font-size: 0.9rem;
  text-align: center;
}

/* .about-description {
  margin-bottom: 1.5rem;
} */

.about-description > p {
  text-align: justify;
  font-size: 1.5rem;
}

.about-cta {
  display: flex;
  justify-content: center;
}

.about-cta > button {
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem;
  border: none;
  background-color: var(--main);
  color: white;
  cursor: pointer;
  transition: box-shadow 0.5s ease-out;
}

.about-cta > button:hover {
  box-shadow: 0.5rem 0.4rem var(--secondary);
}

.services {
  padding: 50px 120px;
  background-color: var(--main);
}

.services > h2 {
  color: white;
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.services-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem 3rem;
  margin-bottom: 2rem;
}

.service-card {
  border-radius: 10px;
  text-align: center;
  background-color: white;
  width: 200px;
  /* width: calc(345px / 2); */
  padding: 20px;
  transition: box-shadow 0.2s ease-out;
}

.service-card:hover {
  box-shadow: 0.5rem 0.4rem var(--secondary);
}

.service-card:hover .icon {
  color: var(--main);
}

.service-card .icon {
  font-size: 75px;
  color: var(--secondary);
  transition: color 0.2s ease-out;
}

.service-card-header {
  /* display: flex; */
  margin: 1rem 0;
  /* height: 50px; */
}

.service-card-header > h3 {
  font-size: 1rem;
  height: fit-content;
}

.service-card-description {
  text-align: start;
  color: var(--tertiary);
}

.services-cta {
  display: flex;
  justify-content: center;
}

.services-cta > button {
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem;
  border: none;
  background-color: var(--secondary);
  color: white;
  cursor: pointer;
  transition: box-shadow 0.5s ease-out;
}

.services-cta > button:hover {
  box-shadow: 0.5rem 0.4rem white;
}

.contact {
  padding: 50px 120px;
}

.contact > h2 {
  font-size: 2rem;
}

.form-and-contact {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.form-wrapper {
  max-width: 500px;
  width: 100%;
  /* flex-grow: 5; */
  padding: 1rem;
  margin-top: 1rem;
}

fieldset {
  border: 0;
  margin-bottom: 1rem;
}

fieldset > textarea {
  width: 100%;
  padding: 0.8rem;
}

legend {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

fieldset > input {
  padding: 0.8rem;
  width: 100%;
}

.form-row1 {
  margin-bottom: 0.5rem;
}

.form-row1,
.form-row2 {
  display: flex;
  justify-content: space-between;
}

.form-row1 > input {
  width: 49%;
  padding: 0.8rem;
}

.form-row2 > input {
  width: 49%;
  padding: 0.8rem;
}

.form-button > button {
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem;
  border: none;
  background-color: var(--main);
  color: white;
  cursor: pointer;
  transition: box-shadow 0.5s ease-out;
}

.form-button > button:hover {
  box-shadow: 0.5rem 0.4rem var(--secondary);
}

.contact-info-wrapper {
  margin-top: 1rem;
  padding: 1rem;
  background-color: var(--main);
  min-width: 290px;
  max-width: 500px;
  width: 100%;
  color: white;
}

.contact-info-wrapper > iframe {
  width: 100%;
  height: 65%;
  margin-bottom: 1rem;
}

.contact-info-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-info-links a {
  color: white;
  text-decoration: none;
}

.contact-info-links a:hover {
  color: var(--secondary);
}

.contact-info-links .icon {
  margin-right: 0.5rem;
}


@media only screen and (max-width: 1050px) {
  .contact-header > .link {
    max-width: 250px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

@media only screen and (max-width: 768px) {
  .contact-header {
    display: none;
  }

  .navbar-wrapper {
    padding: 0 60px;
    z-index: 1000;
  }

  .logo-img {
    height: 2rem;
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    width: 2rem;
    aspect-ratio: 1;
    top: 1rem;
    right: 60px;
    border: 0;
    background-color: transparent;
  }

  .mobile-nav-toggle > .mobile-icon {
    font-size: 2rem;
    color: white;
  }

  .menu {
    position: fixed;
    flex-direction: column;
    gap: 1rem;
    inset: 0 0 0 50%;
    padding: min(30vh, 10rem) 2em;
    background-color: var(--secondary);
    transform: translateX(100%);
    transition: transform 0.2s ease-out;
  }

  .menu[data-visible="true"] {
    transform: translateX(0%);
  }

  .menu-item {
    font-size: 1.5rem;
    color: white;
    margin: 0;
    transition: all ease-in 0.1s;
  }

  .menu-item:hover {
    font-size: 2rem;
    background-color: inherit;
  }

  .hero {
    padding: 0 60px;
  }

  h1 {
    font-size: 2.4rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .about {
    padding: 60px;
  }

  .about-header-logo div > img {
    width: 150px;
  }

  .about-header-logo > h2 {
    font-size: 0.8rem;
  }

  .about-description > p {
    font-size: 1.2rem;
    text-align: start;
  }

  .services {
    padding: 50px 60px;
  }

  .contact {
    padding: 50px 60px;
  }
}

@media only screen and (max-width: 375px) {
  .navbar-wrapper {
    padding: 0 30px;
  }

  .logo-img {
    font-size: 1.8rem;
  }

  .menu-item {
    font-size: 1.2rem;
  }

  .menu-item:hover {
    font-size: 1.5rem;
  }

  .about {
    padding: 30px;
  }

  .about-header-logo div > img {
    width: 125px;
  }

  .about-cta > button {
    padding: 0.8rem;
  }

  .services {
    padding: 50px 30px;
  }
}
