:root {
  --main: #c32227;
  --secondary: #1e1e1e;
  /* --main: #8b0000; */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  /* display: flex;
  justify-content: space-between; */
  /* padding: 0 120px; */
  background-color: var(--main);
}

.contact-header {
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary);
  padding: 10px 60px;
}

.contact-header > .link {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.contact-header > .link:not(:last-child) {
  margin-right: 15px;
}

.contact-header > .link:hover {
  color: var(--main);
}

.link > .icon {
  margin-right: 4px;
}

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  height: 60px;
  padding: 0 120px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.logo-img {
  width: auto;
  height: 2.5rem;
  /* height: 40px; */
}

.mobile-nav-toggle {
  display: none;
}

nav {
  display: flex;
}

.menu {
  display: flex;
  align-items: center;
  /* height: 100%; */
}

.menu-item {
  display: flex;
  align-items: center;
  /* height: 70%; */
  color: white;
  font-weight: bold;
  font-size: 1rem;
  list-style: none;
  margin-left: 1rem;
  padding: 10px 5px;
  /* padding: 0.8rem 0.5rem; */
  cursor: pointer;
  border-radius: 5px;
}

.menu-item:hover {
  background-color: white;
  color: var(--main);
  transition: all ease-in 0.1s;
  /* color: black; */
}

@media only screen and (max-width: 1050px) {
  .contact-header > .link {
    max-width: 250px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

@media only screen and (max-width: 744px) {
  .contact-header {
    display: none;
  }

  .navbar-wrapper {
    padding: 0 60px;
    z-index: 1000;
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    width: 2rem;
    aspect-ratio: 1;
    top: 1rem;
    right: 60px;
    border: 0;
    background-color: transparent;
  }

  .mobile-nav-toggle > .mobile-icon {
    font-size: 2rem;
    color: white;
  }

  .menu {
    position: fixed;
    flex-direction: column;
    /* justify-content: center; */
    gap: 1rem;
    inset: 0 0 0 50%;
    padding: min(30vh, 10rem) 2em;
    /* background-color: hsla(0, 0%, 100%, 0.7); */
    background-color: var(--secondary);
    transform: translateX(100%);
    transition: transform 0.2s ease-out;
  }

  .menu[data-visible="true"] {
    transform: translateX(0%);
  }

  .menu-item {
    font-size: 1.5rem;
    color: white;
    margin: 0;
    transition: all ease-in 0.1s;
  }

  .menu-item:hover {
    font-size: 2rem;
    background-color: inherit;
  }
}
